@import-normalize;

.header {
  text-align: center;
}

.title {
  font-size: 0.75em;
  font-weight: bold;
}

.header-display {  
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-icon-slice {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
}

.timer-header {
  justify-content: center;
}

.reset {
  object-fit: contain;
}